{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing":true,
  "bracketSameLine":true
}